<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="de.zaunberg.burgershop.model.Role"/>
        <mapping class="de.zaunberg.burgershop.model.User"/>
        <mapping class="de.zaunberg.burgershop.model.UserOrder"/>
    </session-factory>
</hibernate-configuration>